<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{partials :: head ('Edit Post')}">
</head>
<body class="main-container main-bg">
<nav th:replace="partials :: navbar"></nav>
<header th:replace="partials :: header('Edit Post')"></header>
<main class="container">
	<form th:replace="partials :: postsForm(@{/posts/{id}/edit(id=${post.id})}, 'Update Post')"></form>
</main>
<footer th:replace="partials :: footer"></footer>
<div th:replace="partials :: boot-scripts"></div>
</body>
</html>