<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{partials :: head ('Roll-a-Die')}">
</head>
<body class="main-container main-bg">
<nav th:replace="~{partials :: navbar}"></nav>
<main class="container">
	<h1>Pick a number!</h1>
	<h2>
		<a href="/roll-dice/1"><i class="fa-solid fa-dice-one"></i></a>
		<a href="/roll-dice/2"><i class="fa-solid fa-dice-two"></i></a>
		<a href="/roll-dice/3"><i class="fa-solid fa-dice-three"></i></a>
		<a href="/roll-dice/4"><i class="fa-solid fa-dice-four"></i></a>
		<a href="/roll-dice/5"><i class="fa-solid fa-dice-five"></i></a>
		<a href="/roll-dice/6"><i class="fa-solid fa-dice-six"></i></a>
	</h2>
</main>
<footer th:replace="~{partials :: footer}"></footer>
<div th:replace="~{partials :: boot-scripts}"></div>
</body>
</html>
